/* Fonts 
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;

*/

:root {
  --spacer: 3rem;
  --box-shadow: 0.3rem 0.3rem 1.5rem rgb(0, 0, 0, 0.15);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
  padding: 0;
}

/* Utilities */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}
/* Start Here */
h1 {
  font-size: 6.4rem;
  font-family: "Creepster", sans-serif; /* Use "Creepster" as the font-family */
}
h2{
  font-size: 3.2rem;
}
h3{
  font-size: 2.8rem;
}
p{
  font-size: 1.8rem;
}
.logo{
  font-size: 2.6rem;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}


body{
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #020002, #320132, #7a007a, #ae00ae, #d900d9);
  color: #e4e4e4;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Creepster";
  src: url("/Creepster/Creepster-Regular.ttf") format("truetype");
}

h1 {
  animation: textAnimation 2s linear infinite;
  color: transparent;
  text-shadow: 0 0 10px #8B0000; /* Deep red shadow */
}

@keyframes textAnimation {
  0% {
    color: transparent;
    text-shadow: 0 0 10px #ac0000;
  }
  30% {
    color: #ac0000; /* Deep red text color */
    text-shadow: 0 0 20px #ac0000; /* Increase shadow size */
  }
  60% {
    color: transparent;
    text-shadow: 0 0 10px #ac0000;
  }
  100% {
    color: #ac0000;
    text-shadow: 0 0 20px #ac0000;
  }
}


h1,
.logo {
  background-image: linear-gradient(45deg, #d40000, #b1b1b1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.pumpkin-image img{
  animation: bounce 2.5s ease infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}

.menu-toggle{
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.hero a{
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  padding: 20px;
  background-color: #990099;
  border-radius: 15px;
}

/* hero section */
.hero{
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero .text{
  margin-top: -50px;
}

.hero div{
  width: auto;
}

.text a {
  margin-top: 20px;
  padding: 10px 20px; 
  display: inline-block;
}

/* stories section */
.stories{
  display: block;
}
.colored-text{
  background-image: linear-gradient(45deg, #d40000, #b1b1b1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.stories h1{
  text-align: center;
  margin-bottom: 30px;
}
.story1,
.story2 {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px; 
  margin: 10px;
  border-radius: 10px;
}
.story1 p,
.story2 p{
  text-align: justify;
}
.container{  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0 30px;
}

/* authors section */
.authors {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  line-height: normal;
  height: 100vh;
}
.authors h1{
  transform: rotate(-90deg);
}

.authors > div {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  flex: 1;
  border-radius: 10px;
  gap: 30px;

}

.authors h3,
.authors p {
  color: #fff;
}

.authors p {
  color: #ccc;
  text-align: justify;
}


/* footer */
footer {
  padding: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

footer h1 {
  font-size: 2.5rem;
}

footer input[type="text"] {
  padding: 10px;
  border: 1px solid #777;
  border-radius: 5px;
}

footer input[type="submit"] {
  padding: 10px 20px;
  background-color: #990099;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer p {
  font-size: 1.2rem;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; 
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: auto%;
  }

  nav li {
    text-align: center;
    margin: 0;
  }

  nav a {
    padding: 10px 0;
    display: block;
  }

  nav a:hover {
    background-color: #990099;
  }

  .nav-active {
    display: flex;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.4rem;
  }

  .authors h1{
    transform: rotate(0deg);
  }

  .hero {
    flex-direction: column; 
  }

  .pumpkin-image img{
    margin-top: 20px; 
    height: auto;
    width: auto;
  }

  .container {
    flex-direction: column; 
    margin: 20px;
  }

  .story1,
  .story2 {
    margin: 10px 0;
  }

  .authors {
    flex-direction: column; 
    height: auto; 
  }
}